<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.DailyCheckMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.DailyCheck_1" >
    <id column="check_id" property="checkId" jdbcType="INTEGER" />
    <result column="plan_no" property="planNo" jdbcType="VARCHAR" />
    <result column="client_material_no" property="clientMaterialNo" jdbcType="VARCHAR" />
    <result column="material_no" property="materialNo" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="process_name" property="processName" jdbcType="VARCHAR" />
    <result column="asset_name" property="assetName" jdbcType="VARCHAR" />
    <result column="asset_no" property="assetNo" jdbcType="VARCHAR" />
    <result column="asset_xh" property="assetXh" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="error_date" property="errorDate" jdbcType="VARCHAR" />
    <result column="error_content" property="errorContent" jdbcType="VARCHAR" />
    <result column="is_repair" property="isRepair" jdbcType="INTEGER" />
    <result column="send_person" property="sendPerson" jdbcType="VARCHAR" />
    <result column="is_rijian" property="isRijian" jdbcType="INTEGER" />
    <result column="is_latest" property="isLatest" jdbcType="INTEGER" />
    <result column="is_mold" property="is_mold" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    check_id, plan_no, client_material_no, material_no, batch_no, shop_name, process_name, 
    asset_name, asset_no, asset_xh, operator, state, error_date, error_content, is_repair, 
    send_person, is_rijian, is_latest,is_mold
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from daily_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from daily_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.DailyCheck_1" >
    insert into daily_check (check_id, plan_no, client_material_no, 
      material_no, batch_no, shop_name, 
      process_name, asset_name, asset_no, 
      asset_xh, operator, state, 
      error_date, error_content, is_repair, 
      send_person, is_rijian, is_latest,is_mold
      )
    values (#{checkId,jdbcType=INTEGER}, #{planNo,jdbcType=VARCHAR}, #{clientMaterialNo,jdbcType=VARCHAR}, 
      #{materialNo,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{processName,jdbcType=VARCHAR}, #{assetName,jdbcType=VARCHAR}, #{assetNo,jdbcType=VARCHAR}, 
      #{assetXh,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{errorDate,jdbcType=VARCHAR}, #{errorContent,jdbcType=VARCHAR}, #{isRepair,jdbcType=INTEGER}, 
      #{sendPerson,jdbcType=VARCHAR}, #{isRijian,jdbcType=INTEGER}, #{isLatest,jdbcType=INTEGER},#{is_mold,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.DailyCheck_1" >
    insert into daily_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkId != null" >
        check_id,
      </if>
      <if test="planNo != null" >
        plan_no,
      </if>
      <if test="clientMaterialNo != null" >
        client_material_no,
      </if>
      <if test="materialNo != null" >
        material_no,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="processName != null" >
        process_name,
      </if>
      <if test="assetName != null" >
        asset_name,
      </if>
      <if test="assetNo != null" >
        asset_no,
      </if>
      <if test="assetXh != null" >
        asset_xh,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="errorDate != null" >
        error_date,
      </if>
      <if test="errorContent != null" >
        error_content,
      </if>
      <if test="isRepair != null" >
        is_repair,
      </if>
      <if test="sendPerson != null" >
        send_person,
      </if>
      <if test="isRijian != null" >
        is_rijian,
      </if>
      <if test="isLatest != null" >
        is_latest,
      </if>
      <if test="is_mold != null" >
        is_mold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkId != null" >
        #{checkId,jdbcType=INTEGER},
      </if>
      <if test="planNo != null" >
        #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="clientMaterialNo != null" >
        #{clientMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null" >
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="processName != null" >
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetNo != null" >
        #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetXh != null" >
        #{assetXh,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="errorDate != null" >
        #{errorDate,jdbcType=VARCHAR},
      </if>
      <if test="errorContent != null" >
        #{errorContent,jdbcType=VARCHAR},
      </if>
      <if test="isRepair != null" >
        #{isRepair,jdbcType=INTEGER},
      </if>
      <if test="sendPerson != null" >
        #{sendPerson,jdbcType=VARCHAR},
      </if>
      <if test="isRijian != null" >
        #{isRijian,jdbcType=INTEGER},
      </if>
      <if test="isLatest != null" >
        #{isLatest,jdbcType=INTEGER},
      </if>
      <if test="is_mold != null" >
        #{is_mold,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.DailyCheck_1" >
    update daily_check
    <set >
      <if test="planNo != null" >
        plan_no = #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="clientMaterialNo != null" >
        client_material_no = #{clientMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null" >
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="processName != null" >
        process_name = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetNo != null" >
        asset_no = #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetXh != null" >
        asset_xh = #{assetXh,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="errorDate != null" >
        error_date = #{errorDate,jdbcType=VARCHAR},
      </if>
      <if test="errorContent != null" >
        error_content = #{errorContent,jdbcType=VARCHAR},
      </if>
      <if test="isRepair != null" >
        is_repair = #{isRepair,jdbcType=INTEGER},
      </if>
      <if test="sendPerson != null" >
        send_person = #{sendPerson,jdbcType=VARCHAR},
      </if>
      <if test="isRijian != null" >
        is_rijian = #{isRijian,jdbcType=INTEGER},
      </if>
      <if test="isLatest != null" >
        is_latest = #{isLatest,jdbcType=INTEGER},
      </if>
      <if test="is_mold != null" >
        is_mold = #{is_mold,jdbcType=INTEGER},
      </if>
    </set>
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.DailyCheck_1" >
    update daily_check
    set plan_no = #{planNo,jdbcType=VARCHAR},
      client_material_no = #{clientMaterialNo,jdbcType=VARCHAR},
      material_no = #{materialNo,jdbcType=VARCHAR},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      process_name = #{processName,jdbcType=VARCHAR},
      asset_name = #{assetName,jdbcType=VARCHAR},
      asset_no = #{assetNo,jdbcType=VARCHAR},
      asset_xh = #{assetXh,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      error_date = #{errorDate,jdbcType=VARCHAR},
      error_content = #{errorContent,jdbcType=VARCHAR},
      is_repair = #{isRepair,jdbcType=INTEGER},
      send_person = #{sendPerson,jdbcType=VARCHAR},
      is_rijian = #{isRijian,jdbcType=INTEGER},
      is_latest = #{isLatest,jdbcType=INTEGER},
      is_mold = #{is_mold,jdbcType=INTEGER}
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
</mapper>